<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MessageMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4C1FD0B1C477C2C00958A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C1FD1F1C477C2C00958A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C1FD2A1C477C2C00958A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
